#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
  background-color: hsl(0, 0%, 15%);
}
#display {
  width: 100%;
  padding: 20px;
  height: 50px;
  border: none;
  background-color: hsl(0, 0%, 20%);
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
